[2015-01-05 06:01] J-F-Liu opened #7 "Add dot operation, the innner product of two vectors"
Can be added to Arithmetic.swift
Or add initializers to create Matrix as row vector and column vector

[2015-01-05 13:40] mattt commented on #7
Thanks for the recommendation, @J-F-Liu. At the moment, feature requests are not being actively considered, but I would welcome a PR that provided his functionality.

[2015-01-05 13:40] #7 closed

[2015-01-08 21:48] harlanhaskins opened #8 "CocoaPods"
Now that CocoaPods has been updated to support Swift (great job to everyone, by the way!) I'd love to see a podspec for Surge.

[2015-01-18 16:57] mattt commented on #8
Done. Just pushed a podspec to trunk. Give it a try!

[2015-01-18 16:57] #8 closed

[2015-02-25 23:40] apexskier opened #11 "Support for Float type"
I'd like to discuss adding support for the Float type to Surge. I've done this in [apexskier/Surge on the float branch](https://github.com/apexskier/Surge/compare/float).

I was planning on using this to integrate Accelerate with SceneKit through Surge and a [library](https://github.com/apexskier/SKLinearAlgebra) I'm writing. I've since found that it's [only necessary on 32 bit platforms](https://

[2015-02-26 00:00] apexskier commented on #11
I misspoke, looks like SceneKit is using Float, not CGFloat.

[2015-02-27 20:37] mattt commented on #11
3363779d666c0581a4103f004dc136479fa09aab and c1bad0a0244ed04de7a11692b669f78f709cff0b add support for overloaded functions using Float. This is now live in version 0.2.0.

[2015-02-27 20:37] #11 closed

[2015-02-27 21:00] apexskier commented on #11
Awesome!

[2015-03-12 09:39] kiha-la opened #12 "Memory leak of the fft function / fft関数のメモリリーク"
I use fft function for the real-time pitch detection , but troubled with the its memory consumption.
I perform fft about 60 times every one second, but memory is used at every function practice by number KB, as a result  number GB is used immediately.

I write the program in swift and confirm that this memory leak happens in fft function.
Will there be the method not to increase memory consumption

[2015-03-12 20:08] mattt commented on #12
It looks like there was a missing call to `vDSP_destroy_fftsetup` causing `weights` to not be properly deallocated. This should be fixed by 3e8c754. Please let me know if you are still experiencing this.

[2015-03-12 20:08] #12 closed

[2015-03-13 01:57] kiha-la commented on #12
I have not tried this method.
The memory leak is completely destroyed!
Thank you!
======
この方法はまだ試していませんでした。
メモリリークも完全になくなりました！
ありがとうございます！

[2015-04-17 16:47] nevosegal opened #13 "Normalisation of magnitudes in FFT"
Hi,

Just a question. Why are you scaling the magnitudes of the FFT by `2.0/Float(input.count)` ? What does this number represent?

Thanks!

[2015-04-17 21:03] mattt commented on #13
`vDSP_zvmagsD` calculates the magnitude from the sum of squares of the real and imaginary components:

![vdsp_104](https://cloud.githubusercontent.com/assets/7659/7210864/9e47d2aa-e512-11e4-8dfe-ffa34cf68254.gif)

To normalize them, we take the square root and divide by two to account for the sum of both components being added together.

[2015-04-18 11:16] nevosegal commented on #13
Thanks for the response! Hmmm maybe I'm missing something here but you're not dividing by two, you're multiplying by 2/input.count.. isn't that the case?

[2015-04-20 13:31] mattt commented on #13
Apologies, I meant multiply, yes.

[2015-04-28 19:25] nevosegal commented on #13
Thanks :1

[2015-04-28 20:33] #13 closed

[2015-06-22 15:02] ephemer opened #15 "Use of unresolved identifier 'vDSP_create_fftsetup'"
Hi Mattt,

When compiling Surge for the iPad 2 simulator or other 32-bit processor simulators, we get a bunch of compile-time errors along the lines of `Use of unresolved identifier 'xyz'`, all Accelerate framework functions.

The problem is also described here: http://stackoverflow.com/questions/27114519/accessing-vdsp-from-swift-in-simulator-for-older-devices

Do you know of a workaround for thi

[2015-06-24 19:00] ryanwmarsh opened #16 "Swift 2.0"
Any plans to upgrade to Swift 2.0?

[2015-07-12 23:50] jhurliman opened #18 "Carthage support"
Surge is *almost* Carthage compatible. It looks like the only thing missing is marking the scheme for the Surge dynamic framework as "shared" in Xcode (then publishing a new release).

[2015-08-19 17:19] kostiakoval commented on #16
I need this one as well :) Probably will start working on it

[2015-08-25 05:02] Boggartfly commented on #16
Yep this is needed, it seems there are a lot of syntax changes to the swift language. It is hell for anybody who just got the hang of the previous version and now has to re learn everything. Heck I got a Macbook Air just for learning Mac and iOS development! https://developer.apple.com/swift/blog/?id=29

[2015-08-30 10:41] jackywang135 opened #20 "Cannot install 0.3.0 version using CocoaPods ."
I get the warning when I try do pod update with podFile pod 'Surge', '~> 0.3.0'

!] Unable to satisfy the following requirements:

- `Surge (~> 0.3.0)` required by `Podfile`

[2015-10-03 20:48] aleph7 commented on #18
My fork has Carthage support plus Swift 2.0: https://github.com/aleph7/Surge

[2015-10-09 14:31] innoreq opened #23 "Swift 2 + Vectors?"
Hi Matt,

I'm just struggling with the need to perform matrix and vector operations in the context of associative matrices. Your Surge library seems to be pretty interesting (and usable!), however, it seems not yet to work on Swift 2. Do you plan a port in the near future?

Beside this, do you plan to enhance it with functions for matrix-vector functions, such as multiplying a matrix with a vector

[2015-10-09 16:37] aleph7 commented on #23
Mattt doesn't seem to be maintaining this project anymore. You can try my fork: https://github.com/aleph7/Surge

[2015-12-12 18:30] rfdickerson commented on #23
The Surge project has just been updated to support Swift 2.

[2015-12-12 18:30] #23 closed

[2015-12-12 18:33] rfdickerson commented on #16
Swift 2.0 support has been merged in to the repository.

[2015-12-12 18:33] #16 closed

[2015-12-12 18:37] rfdickerson opened #28 "Use contrained extensions to support either Double or Float"
Using constrained extensions:

[code]

[2015-12-29 00:06] nacrossweb commented on #18
:+1:  I would like to see carthage support added.  The fork mentioned by @aleph7 doesn't seem to support tvos.

[2016-01-08 23:57] #20 closed

[2016-01-18 20:30] cloutiertyler opened #32 "Public rows and columns properties"
I am trying to create a Vector struct by wrapping the Matrix struct and asserting that the matrix is one dimensional. Thus I'd like to create a Vector constructor which constructs a Vector from a Matrix. However, the rows and columns Matrix properties are internal so I can't assert that columns is exactly 1. I've realized though that I can use Swift arrays to accomplish most vector operations but

[2016-01-18 21:06] TheArtOfEngineering commented on #32
Access to the grid property is also important, as once you've got a Matrix, there is no way to convert it into anything else or get the data back out as an array.

[2016-01-19 23:58] jasonhotsauce opened #34 "Bump up cocoaPod version"
The current pod install version is 0.2.1, I think it's outdated. Can we bump it up the most recent version?

[2016-01-22 19:08] shyamalschandra opened #36 "How to install the framework for usage in Playgrounds and Xcode?"
I built the Surge.framework but I cannot show the framework in the Finder.  What to do?

How do I build the framework so that I can just put it into the Xcode project?

Thanks!

[2016-02-05 16:26] rprechelt commented on #36
If you have not already solved this, please see [this link](https://developer.apple.com/library/ios/recipes/Playground_Help/Chapters/ImportFramework.html). Surge does not currently build to a binary framework file; the `Surge.xcodeproj' and the associated files **are** the framework in a sense.

**For use in a Playground**
I've laid out a rough guide below but please peruse the link above for more

[2016-02-13 22:22] imanmk commented on #36
Hello,

I get this error when I'm building my project with Surge:

"Binary operator '-' cannot be applied to two '[Double]' operands" in Arithmetic.swift - Distance section

[2016-02-13 22:32] rprechelt commented on #36
Hello,

This is because the latest commit to Surge was incomplete (the `-` operator was not implemented) and therefore will not build. I have submitted a pull request for this issue but I do not know when it will be merged into master. If you wish to continue using Surge, I would checkout commit 2c89872b543a4d916e90e75de655f900b15914b5 or think about using one of the many good Surge alternatives a

[2016-02-13 23:36] imanmk commented on #36
I see. What Surge alternative would you recommend? Also, do you know of any good alternatives to iOS-Charts framework? That seems to have some issues too.

Thanks in advance!

[2016-02-13 23:43] rprechelt commented on #36
The most well-developed alternative to Surge that I am aware of is [Upsurge](https://github.com/aleph7/Upsurge) which is a fork of Surge; it has more features than Surge and is developed more regularly. It has added support for matrices and tensors that make working with multi-dimensional data easier. I am also building a Surge alternative called Wave which is more focused on digital signal proces

[2016-02-13 23:49] imanmk commented on #36
Cool! Thank you.

[2016-02-14 00:12] imanmk commented on #36
By any chance, do you know of any reliable library for plotting data (e.g. scatter chart) in Swift?

[2016-02-14 00:24] rprechelt commented on #36
No I don't unfortunately; plotting charts is not within my Swift realm of expertise. Enjoy whatever DSP framework you end up choosing!

[2016-02-14 00:46] rfdickerson commented on #36
@rprechelt Thank you for your PR request for Surge that fixed the build problem. We should look into getting Travis instrumented on Surge shortly.

[2016-02-14 00:46] #36 closed

[2016-02-14 01:15] aleph7 commented on #36
@imanmk have a look at https://github.com/aleph7/plotkit

[2016-02-15 03:02] rfdickerson commented on #34
This was added in [this PR](https://github.com/mattt/Surge/commit/c2cd260eb2c04ae7c370195db6ce972a7f57ded7).

[2016-02-15 03:02] #34 closed

[2016-02-15 03:03] rfdickerson commented on #18
I added a Cartfile to the project, but because we don't rely on any dependencies it remains empty. Let me know if this worked for you!

[2016-02-15 03:03] #18 closed

[2016-02-15 03:05] rfdickerson opened #42 "Adding Travis CI"
In order to support a more stable library, we need a continuous integration system and a much more comprehensive set of tests.

[2016-02-15 03:06] rfdickerson commented on #42
Hi Matt, when you get a chance can you add Surge to Travis CI?

https://travis-ci.org/mattt/Surge

[2016-02-18 17:03] Boggartfly commented on #42
I would be happy to help! I'm currently using Jenkins my self, and I have hosted Jenkins on the cloud. Funny enough I have Jenkins on the cloud(Imagine that)!

[2016-02-19 14:40] rfdickerson commented on #42
Hi @Boggartfly , I was just able to add support for Travis, but thanks for offering to help!

[2016-02-19 14:40] #42 closed

[2016-02-27 14:28] Boggartfly commented on #42
Please do ping me if you need any sort of help with the project @rfdickerson ! Also I was wondering if you could have a look at my [project](https://github.com/Boggartfly/VUDX)? I need an extra set of eyes to sort out issues with the project. Maybe you could give me some guidance? Thanks!

[2016-06-27 16:34] HaloWang opened #45 "Why Surge does not support Xcode 7.3.1"
I use
[code]

[2016-06-28 14:39] jasonhotsauce commented on #45
What do you mean by `not support`? Any errors? BTW, Surge only supports iOS 8+, osx 10.9+

[2016-06-28 15:38] HaloWang commented on #45
It looks like I am using an old version of Surge which tag is 0.2.1:
<img width="390" alt="2016-06-28 11 35 13" src="https://cloud.githubusercontent.com/assets/7344724/16421919/288df14a-3d89-11e6-9368-649e05d205ed.png">
And the newest tag is 1.0.0
I will try to use git submodule later, as README say:

[2016-06-29 07:25] Somnibyte commented on #45
When I try to add Surge as a dependency to one of my projects via podspec I get the following errors:
[code]

[2016-06-29 09:41] HaloWang commented on #45
@Somnibyte
Yes, I have some error info, I solved the problem using `git submodule add https://github.com/mattt/Surge.git`.

[2016-06-29 09:42] #45 closed

[2016-08-02 06:37] proyb6 opened #46 "Surge for Swift 3 compatibility?"
Is it compatible with Swift 3?

[2016-09-14 14:04] tonuonu commented on #46
No. At least did not work for me.

[2016-09-14 17:00] rfdickerson commented on #46
We can take a PR to get this ported now that XCode 8 is released.

[2016-09-17 20:55] lennet commented on #46
I created a PR (#48). All Tests are passing with Xcode 8 and Swift 3.

[2016-09-20 01:01] #46 closed

[2016-09-20 01:02] #28 closed

[2016-09-20 01:02] rfdickerson commented on #15
Can you let this know if this is still the case with Swift 3?

[2016-09-23 12:08] carlobono opened #49 "EigenValue decomposition"
I thin the correct code at https://github.com/mattt/Surge/blob/matrix-eigendecomposition/Source/Matrix.swift : 255

should refer to &workspace rather than &workspaceQuery

is that correct?

C

[2016-11-15 11:13] GiuCom opened #53 "FFT signal audio"
Hi,

excellent library, there are examples ??

I would like to create an analyzer of the item using your library.

I do not find simple examples that have mic input (AV Foundation) and output the F0 using FFT or other algorithm.

Thank you

[2016-11-17 06:04] remzr7 opened #54 "cblas"
Why doesn't surge use cblas for matrix multiplication?

[2016-11-19 00:38] gaming-hacker opened #55 "why isn't eigen solver in master branch?"
why isn't eigen solver in master branch?

[2017-01-06 20:35] loudinb opened #57 "initialization using array creates mismatch in grid size"
There seems to be an issue when initializing a matrix using an array.  The backing grid does not contain the correct number of elements (e.g. rows*columns) in all cases.

examples:
`Matrix([[1.0,2.0]])` results in a grid of [1.0, 2.0, 0.0] **// contains 1 extra element**
`Matrix([[1.0,2.0,3.0]])` results in a grid of [1.0, 2.0, 3.0, 0.0, 0.0] **// contains 2 extra elements**
`Matrix([[1.0,2.0],[1.

[2017-01-24 22:25] tdimeco commented on #32
I agree, could be very useful!

[2017-01-24 22:38] tdimeco opened #58 "Importing Surge changes the behavior of + between array"
Hi,

In files where Surge is imported, the behavior of the + operator between arrays is modified by the library.

Normal Swift behavior : concatenation
[code]

Surge overloaded behavior : addition
[code]

I don't know if it's a feature or a bug, but it took me 2 hours to find the problem after importing Surge into my code. So maybe it's a bad idea to overload this operator.

What do you think abou

[2017-01-24 22:51] tdimeco opened #59 "Missing sub method for Matrix"
Hi,

I realized there is no methods to substract two matrix. Maybe it's related to Accelerate, that does not provide any method to substract matrix?

Maybe it makes sense to add a sub method and a - operator for matrix, that do something like :

[code]

What do you think about this?

[2017-02-02 04:58] stsievert opened #60 "New release for Swift 3"
I'm using Surge for a project, and I'm getting complaints about Surge not having Swift 3 syntax. It'd be nice to make a new tag since master branch supports it.

[2017-02-02 14:55] stsievert commented on #60
I'd hold off on tagging a release; I still have to put in a PR to format for new swift changes (renaming Source => Sources, moving tests inside module).

[2017-02-06 21:35] remzr7 opened #61 "SwiftPM compatibility?"
Versioning is out of date for swift package manager compatibility

[2017-02-22 01:57] remzr7 commented on #61
Submitted PR to resolve this in #63

[2017-02-22 01:59] remzr7 commented on #60
I made another branch with Swift 3 PM compatibility https://github.com/remzr7/Surge

Doesn't seem like the owners care about the repo anymore

[2017-02-22 03:31] remzr7 commented on #59
I added a sub method in this fork  https://github.com/remzr7/Surge

[2017-02-23 11:33] cmerger commented on #36
May I ask you a question? I am new to swift and playground. I saw your post about surge. I am trying to import 2 dependencies in a Playground (Alamofire and SSZipArchive) with no success. I have tried to do it as you describe it, but these dependencies do not show up when I import them. Is your method only working with surge or should it work with any dependencies? Thanks
ps: your link in the firs

[2017-05-05 22:13] Patrickyp opened #64 "How to get matrix values?"
I downloaded the framework and included in my xcode project and it seems to be working fine. However, I would like to access the matrix elements and I don't know how.  Can someone help me?

[code]

[2017-05-06 17:25] NobodyNada commented on #64
http://stackoverflow.com/questions/43814415/how-to-get-matrix-values-using-surge

[2017-05-21 22:05] achainan opened #67 "Broadcasting"
When using numpy dividing an matrix by a vector is possible via broadcasting.

Any opinions on implementing broadcasting in Surge? Some thing similar to what numpy does.

https://docs.scipy.org/doc/numpy/user/basics.broadcasting.html

[2017-07-11 06:55] kingslay opened #68 "DCT"
do you plan support vDSP_DCT_Execute

[2017-08-14 06:35] dmr07 commented on #60
@remzr7 I integrated your code base and ran into a compile error. I read over the docs on Sequences and Iterators in Swift, but I'm still not sure how to fix this. I was wondering if you can help.

Error:
`'Sequence' requires the types 'T' and 'ArraySlice<T>' be equivalent`

[code]

[2017-08-14 12:00] MKGitHub opened #69 "This project is abandoned?"
This project is abandoned?

[2017-08-14 22:05] Narsail commented on #69
It seems so. [Upsurge](https://github.com/aleph7/Upsurge) seems to be a nice alternative.

[2017-08-17 19:36] dmr07 commented on #69
Upsurge is probably the better choice; I've also forked this project and made it Swift3.0+ compatible. https://github.com/dmr07/Surge4Swift3Plus. You can included in your podfile with `pod Surge4Swift3Plus`

[2017-09-05 03:13] SosonHuang opened #70 "How do I get the submatrix?"
Jmma， Android

/** Get a submatrix.
   @param i0   Initial row index
   @param i1   Final row index
   @param j0   Initial column index
   @param j1   Final column index
   @return     A(i0:i1,j0:j1)
   @exception  ArrayIndexOutOfBoundsException Submatrix indices
   */

   public Matrix getMatrix (int i0, int i1, int j0, int j1) {
      Matrix X = new Matrix(i1-i0+1,j1-j0+1);
      double[][] B =

[2017-09-19 04:56] aleph7 commented on #69
Not anymore! @mattt graciously invited me to maintain Surge. I also maintain Upsurge so great opportunity to pull on the same direction.

[2017-09-19 04:56] #69 closed

[2017-09-19 04:58] aleph7 commented on #70
This doesn't seem to be relevant to Surge, closing.

[2017-09-19 04:58] #70 closed

[2017-09-19 05:02] aleph7 commented on #64
Seems to be resolved in the link.

[2017-09-19 05:02] #64 closed

[2017-09-19 05:08] dickwu opened #71 "Swift 4.0"
SPM 4.0 not work

[2017-09-19 05:15] aleph7 commented on #61
Should be good now, will create a new tag soon.

[2017-09-19 05:15] #61 closed

[2017-09-19 05:29] #57 closed

[2017-09-19 05:29] aleph7 commented on #57
Fixed, thanks!

[2017-09-19 05:31] aleph7 commented on #55
There is a PR that needs tests: https://github.com/mattt/Surge/pull/14

[2017-09-19 05:33] aleph7 commented on #53
You can see https://github.com/hoseking/Peak for a library to access the microphone. The playground has an example of computing the FFT.

[2017-09-19 05:33] #53 closed

[2017-09-19 05:34] aleph7 commented on #49
This seems to be obsolete, there is no such variable in the project.

[2017-09-19 05:35] aleph7 commented on #49
I didn't realized this refers to a branch.

[2017-09-19 05:37] aleph7 commented on #15
Verified that this works on the latest Xcode.

[2017-09-19 05:37] #15 closed

[2017-09-19 05:39] #32 closed

[2017-09-19 05:39] aleph7 commented on #32
Fixed.

[2017-09-19 21:17] Narsail commented on #69
Why not merging both projects? Btw when will you release a Swift 4 Version of Upsurge? :)

[2017-09-20 01:18] aleph7 commented on #69
Upsurge has some interesting ideas but is more focused towards Tensors. I think eventually it will depend on Surge or some core framework and just add to it. I'll work on Swift 4 soon but I want to first do a pass on the API to make it more Swift-y and release that as version 3.0.

[2017-09-23 05:36] #71 closed

[2017-09-23 05:39] aleph7 commented on #60
Swift 3.2 supported in 2.0.0

[2017-09-23 05:39] #60 closed

[2017-10-12 03:32] SosonHuang opened #72 "Sequence' requires the types 'T' and 'ArraySlice<T>' be equivalent"
in Xcode 9，A compiler error：

Sequence' requires the types 'T' and 'ArraySlice<T>' be equivalent

[2017-10-12 03:36] aleph7 commented on #72
What exact version of Xcode are you using? Where (file, line number) is this error being reported?

[2017-10-17 06:17] SosonHuang commented on #72
![image](https://user-images.githubusercontent.com/6091199/31649507-d9569642-b2d8-11e7-8f31-f5f8e7ef7577.png)

[2017-10-17 06:37] aleph7 commented on #72
Are you on `master`?

[2017-10-17 07:02] SosonHuang commented on #72
I'm not

[2017-10-18 02:32] aleph7 commented on #72
That problem is fixed on master, please use that.

[2017-10-18 02:32] #72 closed

[2017-10-19 07:01] SosonHuang commented on #72
thank you！

[2017-10-23 06:08] dickwu opened #73 "Add method to compute matrix determinant"

[2017-11-25 10:00] plm75 commented on #59
It would be nice if that was added directly here or if @remzr7 could make a pull request maybe ?

[2017-11-25 20:28] #59 closed

[2017-11-25 20:28] aleph7 commented on #59
It's in

[2017-11-25 21:27] #73 closed

[2017-12-04 09:35] zhihao-liu opened #75 "Isn't matrix subtraction available?"
When I tried to perform subtraction between two matrices it seems that the "-" operator is not recognized. I did realize that there was no "sub" under the "Matrix" section in the README. But I also found the implementation code of the "-" operator in Matrix.swift. Why is it not available?

Thank you.

[2018-01-29 10:15] bartl1985 opened #76 "Need watchos support in Cocoapods/Carthage"

[2018-04-14 22:25] morpheby commented on #58
What about using ".+"-style for all element-wise operations?

[2018-04-21 21:04] alejandro-isaza commented on #58
That's a good idea @morpheby can you make a PR with that change?

[2018-04-28 05:08] morpheby opened #79 "Dot product operator has DefaultPrecedence"
Operator `•` (dot product) is defined without precedence group, which by default assigns it to DefaultPrecedence group.

Per Swift docs,

Probably it should be reasonable to have MultiplicationPrecedence for the dot product. Right now,  such operations as `5.0 + b • c` result in error `Adjacent operators are in unordered precedence groups 'AdditionPrecedence' and 'DefaultPrecedence'`.

Setting `op

[2018-04-28 18:01] alejandro-isaza commented on #79
Can you create a PR please?

[2018-05-05 16:54] #58 closed

[2018-06-28 10:01] ShivaHuang opened #81 "Operators for Array should not be public"
Hi,

I noticed the operator `+` between two`[Float]`s or two `[Double]`s is overridden in `Arithmetic.swift`.

However, I don't think this is a proper design since it changes the default behavior of swift.

For example, if I want to append one array to another, most people will do that in such way:

[code]

We expect the `newArr` will be `[1.0, 2.0, 3.0]`, but with `Surge`, it becomes `[4.0]`.

It

[2018-06-28 16:01] alejandro-isaza commented on #81
We already have a solution for this on master: https://github.com/mattt/Surge/commit/1e96fab7309d96943bf29415b51b2f24fce46676

Will release a version soon.

[2018-06-28 16:46] ShivaHuang commented on #81
Cool! Can't wait for the new version.

[2018-06-28 16:46] #81 closed

[2018-06-30 17:57] alejandro-isaza commented on #81
Released 2.1.0

[2018-08-13 15:31] johndpope opened #82 "xcode 9.4.1 -carthage update - 2.1.0 - error: Shorthand Operator Violation: Prefer shorthand operators (+=, -=, *=, /=) over doing the operation and assigning. (shorthand_operator)"
[code]
using this repo -
carthage update --platform osx
https://github.com/daisukeokaoss/Akari3

[2018-08-13 15:46] johndpope commented on #82
<img width="1965" alt="screen shot 2018-08-13 at 11 46 08 am" src="https://user-images.githubusercontent.com/289994/44042538-83c3e128-9eee-11e8-92e9-2c9e98ec1188.png">

[2018-08-13 15:54] johndpope commented on #82
seems to bypass error.
[code]

[2018-08-13 16:17] johndpope commented on #82
github "johndpope/Surge" ~> 2.1.1

[2018-08-18 11:20] mattt opened #83 "Consider Running SwiftLint in CI"
In the process of investigating #82, I ran `swiftlint` on the project and found 10 violations of the  `implicit_return` rule:

[code]

Currently, our CI is showing the build as passing, and project builds without warnings. Should we elevate linter diagnostics from its current advisory disposition to enforcement via a build phase or CI?

[2018-08-18 11:32] mattt commented on #82
@johndpope You're reporting a diagnostic generated by SwiftLint. This isn't a compiler error, and doesn't inherently prevent users from building their project.

This project defines a `.swiftlint.yml` file, but doesn't enforce the `shorthand_operator` rule. Looking at this particular case, I don't agree with the advice to prefer shorthand operators, and don't believe we should opt-in to this here.

[2018-08-18 11:32] #82 closed

[2018-08-18 11:36] mattt commented on #83
For whatever reason, the build phase only just kicked in for me, so I'd assumed one wasn't configured.

So I guess the real question is, should we start treating these warnings as errors?

[2018-08-18 11:38] mattt commented on #83
Linter warnings fixed by 7b8eaa3.

[2018-08-18 11:46] mattt commented on #76
This should be fixed for Carthage by 3e583ec, and the current Podfile already defines watchOS targets. Can you please confirm that this is working as expected?

[2018-08-18 11:51] mattt commented on #75
Hi @zhihao-liu. I couldn't reproduce this. The following code runs in the provided Playground:

[code]

Are you still having this problem?

[2018-08-18 11:57] mattt commented on #54
Hi @remzr7. At least as of 0f13bc6, we are indeed using cblas functions for matrix multiplication: https://github.com/mattt/Surge/blob/master/Sources/Surge/Matrix.swift#L218-L256

Do you think we should be doing anything differently here?

[2018-08-18 12:00] mattt commented on #79
This is now fixed as of 245bd8f. See https://github.com/mattt/Surge/blob/master/Sources/Surge/Arithmetic.swift#L518.

[2018-08-18 12:00] #79 closed

[2018-08-18 12:02] mattt commented on #49
Related to #14 and #55.

[2018-08-18 13:28] johndpope commented on #82
Makes sense. I’m fine with this. But request that a note is added in source to point somewhere explaining this. Otherwise others will trip up and have to search around for solution. Or add to read me as known issue. Or let’s raise an issue with swift lint to rectify and link here.

[2018-08-18 13:30] johndpope commented on #82
Whoops on mobile and see you’re one step ahead. Thx

[2018-08-18 16:30] #83 closed

[2018-08-18 21:10] mattt commented on #83
@alejandro-isaza FWIW:

[code]

So yeah, everything should be fixed with my last commit.

Thanks for #84!

[2018-08-29 19:49] johndpope opened #85 "enhancement - helpers to instantiate matrix / apply valueFunc"
https://github.com/dyashkir/Surge/commit/3e45f0255f193797bf5665f2d8f422a59f3d16ac

I'm digging through some old (2 yrs) repo by @dyashkir - and it's using a bespoke fork of Surge

it includes an initialization of a matrix by passing a valueFunc into it.

 self.weightsInputToHidden = Matrix(rows: nodeCountHidden, columns: nodeCountInput, valueFunc: { return (drand48() - 0.5)

Is this kind of thing

[2018-08-29 19:53] johndpope commented on #85
the initial setting maybe straight forward - but this looks nifty for apply across matrix.

     let hiddenInputs = Surge.mul(self.weightsInputToHidden, inp)
        **let hiddenOutputs = Surge.apply(hiddenInputs, function: activation)**

[2018-08-30 11:33] mattt commented on #85
I like the idea of being able to set the values of a Matrix using a function type during initialization. Thanks for the suggestion, @johndpope!

I think this design could be improved by having the passed function accept arguments for the row and column:

[code]

`settingValuesForPositions` and `f` are strawman names; please bikeshed this. Also, I think such a function should be able to `throw`, wh

[2018-08-30 16:33] johndpope commented on #85
Been digging around github to get some swift code to run neural nets with Surge - found this other repo by @wpc with these helpers - specifically - vDSP_maxvi
adding here to this enhancement ticket

Arithmetic.swift

[code]
 https://github.com/wpc/Surge/commit/dd61e5263b5877d49bec97917627f989839d5b64
Would be nice to consolidate efforts around neural nets with Surge.

thus far
https://github.com/m

[2018-08-30 16:37] johndpope commented on #68
reference code by
@IstuntRo  / @between40and2
https://github.com/between40and2/ios-mastery/blob/42ca5fe6976b2cc9ac1ed1e03508efacbbe4b777/wwdc/7-coreos-sysfwk/accelerate/2018-701-1-vdsp.md

https://github.com/IstuntRo/Group-Conversation-Trascription/blob/60e5e337b70e54a0803a8f53c08751f01df8ccb0/asr_project/Helpers/MFCCComputer.swift

[2018-08-30 16:43] johndpope commented on #67
Not entirely an answer - but side note -  with latest tensorflow - you can import Python + numpy with swift for tensorflow / it's not going to help for ios though.

[code]

https://github.com/tensorflow/swift
https://github.com/tensorflow/swift-models/blob/stable/Autoencoder/Autoencoder.swift

[2018-09-01 07:25] yourleaves opened #86 "(2.1.0) Cannot invoke 'dist' with an argument list of type '([Float], y: [Float])'"
Now I use at 2.1.0  Cannot invoke 'dist' with an argument list of type '([Float], y: [Float])' why?

[2018-09-02 17:43] alejandro-isaza commented on #86
try removing the `y:` label: `dist(a, b)`

[2018-09-04 09:46] mattt commented on #86
Hi @yourleaves. @alejandro-isaza is correct. If you look at the [method signature](https://github.com/mattt/Surge/blob/245bd8faebf1bb9bb775b2701e3a15aa7051d3f3/Sources/Surge/Arithmetic.swift#L261-L269), the `x` and `y` parameters begin with an underscore, so they don't have labels:

[code]

This is a change from previous versions, where fluctuations in Swift argument syntax caused labels to appear

[2018-09-04 09:46] #86 closed

[2018-09-04 09:47] mattt commented on #75
Closing due to inactivity. Please let me know if you're still having this problem, @zhihao-liu.

[2018-09-04 09:47] #75 closed

[2018-09-04 09:47] mattt commented on #76
Closing due to inactivity. Please let me know if you're still having this problem, @bartl1985.

[2018-09-04 09:47] #76 closed

[2018-09-04 09:47] mattt commented on #54
Closing due to inactivity. Please let me know if you're still having this problem, @remzr7.

[2018-09-04 09:47] #54 closed

[2018-09-04 19:53] johndpope opened #87 "suggestions on delta time comparison using surge vs not."
is there a better way than using nslog ? are there any performance reports looked into?
looking for a report or mode to demonstrate performance gains.

[2018-09-05 18:55] #87 closed

[2018-09-06 14:33] johndpope commented on #87
found this
[code]
https://gist.github.com/johndpope/d22970b54f6c6cde4d37cc3376f61a18

[2018-09-12 14:57] johndpope commented on #85
@mattt  - found this treasure trove of matrix helpers
https://github.com/sonsongithub/numsw/tree/master/Sources/numsw/Matrix

specifically -
[code]
https://github.com/sonsongithub/numsw/blob/master/Sources/numsw/Matrix/MatrixUtils.swift

[2018-09-20 12:54] justMaku opened #89 "Surge fails to compile for arm64_32 architecture."
I've just started of migrating my project to Xcode 10 and noticed that Surge (among many other dependencies) have problems when compiling for the arm64_32 architecture (used in Apple Watch Series 4).

Due to the weird nature of this chip (64-bit registers, but 32-bit pointer size) there's a conflict between the Swift's built-in `Int` type and `vDSP_Stride` typealias defined as:

[code]

This resul

[2018-09-25 16:35] mattt commented on #89
That's really fascinating, @justMaku. Thanks for pointing this out! We'll take a closer look at this as soon as we have a chance.

[2018-09-25 23:17] #89 closed

[2018-09-25 23:17] alejandro-isaza commented on #89
Thanks for reporting! Should be fixed on master.

[2018-10-07 18:13] nnorris7 opened #90 "Can't run Surge as Command Line Tool"
I am able to get Surge to work as an iOS app and a Cocoa app but am unable to get it to work as a Command Line Tool. I followed all the same procedures as I did for the other apps but when I run the CLT, it (runtime) crashes with the following error:

  Referenced from: /Users/norm/Library/Developer/Xcode/DerivedData/Surge_CLI-enrdshevubvulcaiimedbqrgxfrw/Build/Products/Debug/Surge.framework/Versi

[2018-10-23 13:23] pohetsn opened #91 "error: cannot convert value of type 'T.IndexDistance' to expected argument type 'Int'"
I've encountered the following error message when building Surge with Carthage.  My environment is Xcode 9.2, and I have `github "mattt/Surge" ~> 2.1.0` in the Cartfile.   Not sure where the T.IndexDistance comes from.  Thanks for the help

[code]

[2018-10-23 15:09] mattt commented on #91
IIRC, Swift 4 changed the semantics for collection index distances such that they're now `Int`, whereas before they were a generic `IndexDistance` type. Can you please confirm that your project is compiling with Swift 4 and not Swift 3?

@alejandro-isaza I just noticed that Surge doesn't specify any Swift language requirements in the README (though we do have a `.swift-version` file). It'd be grea

[2018-10-23 15:10] mattt commented on #90
@nnorris7 Thanks for pointing that out. I've been meaning to revisit and expand the benchmarks to ensure that they're accurate and up-to-date.

[2018-10-23 18:06] pohetsn commented on #91
I see.  If I type `swift --version`, it returns

[code]
But how should I make sure Carthage is using this version?  Sorry I'm new in this.  Thank you

[2018-10-23 19:06] pohetsn commented on #91
Btw, I also tried CocoaPod to install Surge.  In Xcode, I had Build settings > Swift Language Version > Swift 4.0. It shows the same error message.

[2018-10-24 15:59] alejandro-isaza commented on #91
I have never seen this. Make sure you have the latest version of CocoaPods. Alternatively if you can share your project I can have a look.

[2018-10-24 21:48] pohetsn commented on #91
My cocoa pods version is 1.5.3.  So it is fairly recent.  Btw, I tried to install Surge on another machine that uses Xcode 9.4.1 and Swift version 4.1.2, and Surge was installed without any error.  I think DistanceIndex was taken out at 4.1 instead of 4.0 (see [here](https://github.com/apple/swift-evolution/blob/master/proposals/0191-eliminate-indexdistance.md)).  So maybe the .swift-version file

[2018-10-24 21:50] alejandro-isaza commented on #91
Ah, good catch. That's probably it. Will update to 4.1.

[2018-10-24 21:52] #91 closed

[2018-10-25 14:47] alejandro-isaza commented on #91
Pushed 2.2.0 to CocoaPods

[2018-10-25 14:57] mattt commented on #91
👏 Thanks, @alejandro-isaza!

[2018-11-30 18:13] jdanbrown opened #92 "Hard crash when multiplying by empty matrix (process exits -1)"
[code]

Output:
[code]

When run like `swift <script>.swift`, process prints that error msg and exits -1 (= 255), without printing a stacktrace. When run in Xcode, debugger doesn't activate.

Seems like Surge `mul()` needs to guard against the rows=0 / columns=0 cases and return an appropriate empty Matrix, instead of letting blas crash?

[2018-11-30 18:44] #92 closed

[2018-11-30 18:46] alejandro-isaza commented on #92
Added a precondition check.

[2018-11-30 20:18] jdanbrown commented on #92
Thanks! But what do you think about returning an empty matrix instead of treating it as an error? That seems less surprising mathematically, since empty matrices are valid objects. That's what e.g. numpy chooses to do:
[code]

[2018-11-30 22:40] alejandro-isaza commented on #92
Interesting, what about this: https://github.com/mattt/Surge/pull/93

[2019-02-09 15:19] alejandro-isaza commented on #49
Fixed in #95

[2019-02-09 15:19] #49 closed

[2019-02-09 15:19] alejandro-isaza commented on #55
Fixed in #95

[2019-02-09 15:19] #55 closed

[2019-02-26 19:59] ChristianSteffens opened #96 "FFT - DSP(Double)SplitComplex and conjugate symmetric"
I'm currently evaluating some FFT implementation and tried out your implementation (of the vDSP algorithms). After some reading there're two things I don't fully understand and I hope you might help us out here:

1. Is there a specific reason you're not using `vDSP_fft_zrip` / `vDSP_fft_zripD`? I understand that your implementation works with real input vectors. So what's the benefit of not (!) us

[2019-02-26 20:24] alejandro-isaza commented on #96
Not entirely sure how it came to be. Would you be willing to create a PR with your proposed changes?

[2019-02-26 21:53] ChristianSteffens commented on #96
We're currently validating an implementation using the packed FFT algorithm with several test-vectors against Matlab's FFT implementation. If this works out, I could certainly create a PR for this. I'll keep you updated.

Still, it would be worth knowing what you design decision was here. I'm not a DSP expert and in fact only collected some thoughts from stackoverflow to get some kind of understan

[2019-02-26 22:15] alejandro-isaza commented on #96
Maybe @mattt can shed some light.

[2019-04-30 11:54] bhargavsejpalindianic opened #98 "how to Computes the standard deviation (Not population but sample)"
#

[2019-04-30 13:20] #98 closed

[2019-04-30 13:20] bhargavsejpalindianic commented on #98
got the solution

[2019-05-19 15:22] TiborUdvari opened #100 "Playground issue"
I'm trying to execute the provided Playground, but I'm getting this

[code]

Any ideas?

[2019-05-20 21:50] mattt commented on #100
I got hit with that error too on a fresh clone, but it went away after building the iOS framework target. If you do that, does the error still persist?

[2019-06-12 13:43] valeriyvan opened #102 "STFT"
Any plans for implementing [Short-Time Fourier transform](https://en.wikipedia.org/wiki/Short-time_Fourier_transform)?

[2019-07-21 14:39] #100 closed

[2019-08-06 09:45] regexident opened #106 "Tracking issue for modernization efforts"
Hi Matt,

I'd like to contribute a series of improvements to Surge.

**Surge** is already pretty nice for implementing performant number crunching and machine learning algorithms, but I find myself writing my own `Vector<Scalar>` types and adding extensions for common `Matrix<Scalar>` operations over and over again (especially the scalar variants), so I figured I might as well upstream them:

- [x

[2019-09-18 21:28] chickweed01 opened #117 "Cannot Find Function eigenDecompose"
I loaded the Surge project into XCode. I cannot locate the "eigenDecompose" function. Has it been removed or renamed? The unit tests are there.

Thank you

[2019-09-19 09:45] regexident commented on #117
Have you tried doing a text search in the checked out project for the function name used in the unit tests? Xcode is notoriously unstable when it comes to its `command`-click function.

Otherwise the current `master` has the functions located here:

https://github.com/mattt/Surge/blob/898a908c35e4a56a645b1648e1f10fe64510f055/Sources/Surge/Linear%20Algebra/Matrix.swift#L684-L748

Keep in mind that

[2019-09-19 14:23] chickweed01 commented on #117
Thank you for your reply. The issue is on me - i downloaded an older version by mistake :(

[2019-09-20 10:16] #117 closed

[2019-09-24 16:14] #106 closed

[2019-09-24 16:18] regexident opened #121 "Deprecation/Removal of `sqrt` variant with custom output storage?"
Surge contains a somewhat odd function for calculating `sqrt` by providing a custom output buffer:

[code]

([Source](https://github.com/mattt/Surge/blob/master/Sources/Surge/General%20Arithmetic/Arithmetic.swift#L620-L631))

This pattern is nowhere else to be found in the framework and it looks to me like it was intended primarily for internal use as a base-implementation of the non-custom varian

[2019-09-24 16:47] mattt commented on #121
That sounds great, @regexident. I can't speak to the original implementation, but I agree with your proposal to deprecate and remove those functions.

[2019-09-25 13:26] mattt opened #128 "Tag 2.3 Release"
With Xcode 11 and Swift 5.1 now officially released, and with so many improvements and additions to the library, I think now would be a great time to cut a new minor release.

@regexident Is there any work still pending that you'd like to include in 2.3?

[2019-09-25 21:16] regexident commented on #128
The following test files I so far haven't "modernized":
- AuxiliaryTests.swift
- ConvolutionTests.swift
- HyperbolicTests.swift
- TrigonometricTests.swift

'ConvolutionTests.swift' looks fine to me, but 'HyperbolicTests.swift' and 'TrigonometricTests.swift' still have tests & benchmarks combined, which I would like to split up/clean up.

Other than that I think we're in a good shape for a 2.3 🙂.

[2019-09-27 16:18] mattt opened #130 "Move Project to Separate Organization"
Although this project is hosted under my personal GitHub account, my direct involvement has been substantially less than others who stepped up to maintain it over the years — in particular, @rfdickerson, @alejandro-isaza, and @regexident. I think moving it to a separate org would better serve to honor everyone's contributions (https://github.com/mattt/Surge/graphs/contributors).

My first choice f

[2019-09-27 16:18] mattt commented on #130
@regexident: What are your thoughts about migrating this into a separate organization? Any thoughts for a name?

[2019-09-30 15:57] #90 closed

[2019-10-01 16:56] BilalReffas commented on #130
I think it's a great idea @mattt. What do you guys think about the org name Rosenblatt ? Wiki about [him](https://en.wikipedia.org/wiki/Frank_Rosenblatt)

[2019-10-01 18:33] regexident commented on #130
@mattt I inquired with Github's support about the situation, now that 5 years have passed since the last activity in the existing organization. I'll let you know when (and what) I get a response.

@BilalReffas An issue I see with Rosenblatt is that it is neither closely related to the "accelerate" or "surge", nor is Surge a framework for neural networks. It's a general purpose vector-processing fr

[2019-10-01 20:45] chickweed01 opened #131 "How to read the results of "eigenDecompose""
Hello.

I am able to get results back from a call to `eigenDecompose` and view the components of `MatrixEigenDecompositionResult` using a `print` statement .

However, when I attempt to read the `eigenValues` in code using something like `ed.eigenValues` I get the following in XCode "'`eigenValues`' is inaccessible due to '`internal`' protection level".

How can I get the values in the `eigenValue

[2019-10-01 22:40] regexident commented on #131
Hi @chickweed01, thanks for getting in touch!

It does indeed look to me like those should have been marked as `public`.
I have created a PR and pinged the initial contributor of said code: https://github.com/mattt/Surge/pull/132

[2019-10-01 23:36] regexident commented on #131
Stay tuned for v2.3! 🙂

(Until then you might want to pin Surge to 8af8d180db90d3b8eb4289c4bc42b2d2f1878b4c, while developing.)

[2019-10-02 02:19] johndpope commented on #85
thanks @regexident - doing a spring clean on github issues and going to close this.

[2019-10-02 02:19] #85 closed

[2019-10-06 17:24] #131 closed

[2019-10-06 17:53] regexident commented on #130
Update: The account [/surge](https://github.com/surge) unfortunately remains unavailable, according to user-support.
I managed however to get my hands on [/jounce](https://github.com/jounce) through the Github [Name Squatting Policy](https://help.github.com/en/articles/github-username-policy).

"Wait", you ask, "what's the deal with `/jounce/`?" 🤨

Surge's README gives a partial answer:

Here's th

[2019-10-07 18:08] mattt commented on #130
@regexident Thanks for reaching out to GitHub support about @surge. I agree that this would have been ideal, but I think @jounce is a great alternative. Let's go with that!

Here's my proposed migration process:

1. Add me as an admin to @jounce
2. I'll transfer Surge to @jounce and quickly create a fork at @mattt/surge to serve as a redirect
3. I'll submit a PR to update all references in the REA

[2019-10-09 13:01] regexident commented on #130
Awesome I just sent you an invitation. :)

[2019-10-10 10:07] #130 closed

[2019-10-10 14:56] regexident opened #144 "Efficient randomized initializers for Array/Vector/Matrix"
## tl;dr

It would be nice if Surge provided APIs for efficiently generating random numbers of different distributions. Especially being able to generate normal distributed random numbers in parallel would be of great for many stochastic algorithms.

## What

Many bayesian/stochastic processes make use of random values.

As such it would be nice to be able to efficiently initialize instances of `[

[2019-10-10 18:31] regexident opened #145 "Auto-generate unit tests & benchmarks"
## What?

A quick look at the [/Tests](https://github.com/Jounce/Surge/tree/master/Tests) reveals a suite of tests that all pretty much share the same pattern:

Our tests look something like this:

[code]

… only differentiating each other by a change in this line:

[code]

… and this line:

[code]

And our  benchmarks look something like this:

[code]

… which is semantically equivalent to the mo

[2019-10-11 08:13] regexident opened #147 "Migrate from `Float`/`Double` to `T: FloatingPoint`"
## What?

With the recent refactors we have managed to reduce the implementations of each computation into a function set consisting of a single `internal` core-implementation, acting as a  single source of truth, and a bunch of thin `public` convenience wrapper functions.

Scalar-Division (`[Scalar] / Scalar`) is implemented like this:

[code]

… with an almost identical copy existing for each of

[2019-10-13 10:51] regexident opened #148 "Migrate API to a more idiomatic naming scheme"
# What

Swift and its stdlib have gone through several major changes since its initial release in 2014 (Surge's initial commit was shortly after, on Aug 24, 2014).

The most notable change probably was the migration to the then new and more idiomatic naming scheme with Swift 3: [SE-0005](https://github.com/apple/swift-evolution/blob/master/proposals/0005-objective-c-name-translation.md), which res

[2019-10-13 10:51] regexident commented on #148
I personally am leaning towards Option B. What are your thoughts, @mattt?

[2019-10-13 10:59] regexident opened #149 "3.0 Roadmap"
I would like to propose the following (WIP) roadmap of changes for a future 3.0 release:

## Non-breaking

- [] [Migrate from `Float`/`Double` to `T: FloatingPoint`](https://github.com/Jounce/Surge/issues/147)
- [] [Auto-generate unit tests & benchmarks](https://github.com/Jounce/Surge/issues/145)
- [] [Efficient randomized initializers for Array/Vector/Matrix](https://github.com/Jounce/Surge/issu

[2019-10-15 15:49] regexident commented on #128
@mattt With the issues of above comment fixed by now I'd say v2.3 is good to go. 👍

[2019-10-22 16:29] regexident commented on #149
Hi @mattt, @alejandro-isaza,

I was wondering if you could give these proposals a light read some time and provide some short feedback on the proposed changes? (Some of them are rather detailed, so I added a **tl;dr** where appropriate.)

The question basically boils down to: Should I start working on these things on a **v3** branch, while we [prepare a 2.3 release](https://github.com/Jounce/Surge

[2019-10-22 20:20] mattt commented on #149
Sorry for not responding sooner. I'll have a chance to review these later tonight.

[2019-10-23 13:57] mattt commented on #149
Overall, I've very excited about your plans for 3.0, and look forward to your planned changes.

Among the non-breaking changes, #143 seems like a clear win, and so does #144 (TIL about the Box–Muller transform — that's really cool!). Of the breaking changes, I think both #121 and #148 are the right changes in the long term, and so long as deprecations are done responsibly, it shouldn't be too bad

[2019-10-23 14:06] mattt commented on #128
I think this is a great opportunity to revisit our release process. I don't want to hold things up too much, and maybe these are things that we can defer to 2.3.1 or 3.0, but here's what I'd like to see at some point:

- Automated CocoaPod trunk pushes from CI on tagged releases after tests pass (I've set this up in one of my other projects here: https://github.com/Flight-School/Money/blob/master/

[2019-10-24 15:53] regexident commented on #128
👌 🎉

---

In theory aggregating the release notes should result in the change log, but keeping an actual `CHANGES.md` file has the benefit of requiring pull requests (or changes in general) to leave a trace in that file before approval can be given. Additionally, unlike release notes you do not lose a changelog when moving from Github, i.e. less vendor lock-in.

As such `CHANGES.md` should be our

[2019-10-25 23:37] regexident commented on #149
They might also make it into a 2.4 release, as they are strictly additive. A separate minor update would also give them more exposure than doing a "CHANGE ALL THE THINGS" 3.0 release with "oh btw, we also added X and Y". 🤔

Yes. The goal would of course be to cause as little trouble as possible during migration.

Funny that I did not think about using Sourcery to generate the functions themselves.

[2019-10-26 19:02] mattt commented on #147
A few questions:

- `FloatingPoint` has three conforming types in the Swift Standard Library: `Float`, `Double`, and `Float80`. How would `Float80` be handled using this approach?
- `FloatingPoint` is a public type, which allows other types to conform to it. How would this approach deal with, for example, a library that vends its own `Float16` type that conforms to `FloatingPoint`?

[2019-10-26 20:40] regexident commented on #147
It wouldn't, unfortunately. 😕

I would expect the API to `fatalError(<helpful error message>)` on anything but `Float` or `Double`.

I agree though, that this might not be the desired behavior for a default API.

I wish SwiftPM allowed for specifying settings on dependencies (e.g. `swiftSettings: [.define("GENERICS")]`), allowing us to hide the optional generic API behind conditional compilation (

[2019-10-28 14:12] mattt commented on #147
I think this would be a step backwards in terms of API usability. Taking the current approach as a baseline, the proposed change would:

1. Require less code duplication in the implementation (+)
2. Introduce runtime errors for type mismatches (-)
3. Introduce a small (perhaps negligible) runtime cost for type introspection (-)

By comparison, the proposed alternative to use code generation would

[2019-10-28 15:05] regexident commented on #128
Github Actions? 🤔

[2019-10-28 23:35] mattt commented on #128
😓 That's something I hadn't take into account before we spun the project out into its own org. Whereas I personally have access to the GitHub Actions preview, this new org doesn't (yet). I'll see if there's an easy way to request access.

[2019-10-29 17:10] #144 closed

[2019-11-02 17:18] regexident commented on #128
For [**2.3.0**](https://github.com/Jounce/Surge/releases/tag/2.3.0) I opted to do things manually for now.

There are however a few actions that look like they could come in handy, most notably:

- [**Release Drafter**](https://github.com/marketplace/actions/release-drafter): Drafts your next release notes as pull requests are merged into master.

https://github.com/sdras/awesome-actions#pull-requ

[2019-11-02 17:18] #128 closed

[2019-11-07 23:00] mattt commented on #147
Well, that didn't take long! https://github.com/apple/swift-numerics/issues/8

[2019-11-17 13:07] regexident commented on #147
Code generation alone unfortunately does not solve the issue that without an API with signature `<T: FloatingPoint>` Surge remains unavailable from generic code.

My goal with adding (or merging into) `<T: FloatingPoint>` is not about code reduction, but primarily about making Surge available to scenarios where want to keep your implementation indipendent from your choice of floating-point type.

[2020-04-26 12:38] regexident commented on #147
With Swift already [supporting `Float80`](https://developer.apple.com/documentation/swift/float80) and `Float16` being [scheduled for addition in Swift 5.3](https://github.com/apple/swift-evolution/blob/master/proposals/0277-float16.md) simply providing a generic API for `T: FloatingPoint` is a dead-end, safety-wise.

As such initial thought was to provide a specialized protocol `SurgeFloatingPoin

[2020-05-02 03:41] robbiemu opened #160 "feature request more numpy like dot"
I'd love to reduce this example:
[code]

to this one:
[code]

but it is only implemented on Vectors:
[code]

[2020-05-02 04:46] #160 closed

[2020-05-08 03:25] robbiemu opened #161 "is there some missing matrix functionality?"
I'm noticing in the documentation that for example we should be able to add a matrix with a scalar. so I would expect this to work:

[code]

this produces the follwing error:
[code]

and here is where it says you can add a matrix and a scalar with a + infix operator: https://github.com/Jounce/Surge#addition

is this coming in a near future release? should the readme be upgraded to reflect _coming

[2020-05-10 15:37] dme8a8 opened #162 "Warning: "Inout expression creates a temporary pointer, but argument 'imagp' should be a pointer that outlives the call to 'init(realp:imagp:)'""
Line _30_ **28** in FFT.swift `  var splitComplex = DSPSplitComplex(realp: &real, imagp: &imaginary)`

Now produces the following warning from Swift Compiler:

[2020-05-11 17:50] mattt commented on #162
The line in question:

https://github.com/Jounce/Surge/blob/e5375a62be5bb84e7422e6a213e491bfd18e11c3/Sources/Surge/Digital%20Signal%20Processing/FFT.swift#L28

[2020-05-11 18:59] dme8a8 commented on #162
I'm sorry, it is line 28. I'm using the e5375a6 version.

[2020-05-11 19:07] mattt commented on #162
Thanks for clarifying, @dme8a8. Updated the title to better reflect the issue.

[2020-05-12 01:28] robbiemu opened #163 "missing power operator"
I note in the readme for the project here https://github.com/Jounce/Surge#power:
[code]

but with
[code]

I get
[code]

I also note that in /Sources/Surge/Arithmetic/Arithmetic.swift I see the definitions for pow but not the operator.

This is similar to the previous issue (still open) that I raised, but now I am seeing that it is not just with addition, but in fact it seems like quite a lot of th

[2020-05-12 12:54] regexident commented on #163
Thanks for the report, @robbiemu!

I just opened a PR that addresses this omission.

[2020-05-12 13:09] regexident commented on #161
Thanks for the report, @robbiemu!

I just updated the README to reflect the actual available APIs.

The `Matrix` API is currently somewhat limited, admittedly.

However given the fact that Surge already provides >320 public functions, which all need to be manually maintained (and kept in sync with the README & unit tests, etc) I'm somewhat hesitant towards expanding it much further at this point (

[2020-05-12 18:11] mattt opened #169 "Add documentation comments to public declarations"
Surge functionality is, for the most part, "self-documenting". Functions follow standard naming conventions and take typed LHS / RHS arguments in such a way that anyone familiar with the domain shouldn't have much trouble understanding how anything works.

However, providing documentation comments would add support for Xcode help and allow tools like [swift-doc](https://github.com/swiftdocorg/swif

[2020-05-16 18:52] #162 closed

[2020-05-16 18:52] #163 closed

[2020-05-16 18:53] #161 closed

[2020-07-18 19:44] rth238 opened #170 "Availability on Apple Watch?"
I have a simple numerical analysis that uses Surge working on iOS (iPadOS, and via Catalyst, on macOS) that I would like to try on an Apple Watch. Despite setting the Swift Packages to Surge, I get an error message: “No such module ‘Surge’”.

Any suggestions for fixing this, or is this an Apple Watch limitation?

[2020-07-19 12:38] regexident commented on #170
There should be a single multi-platform framework target available to you when using SPM or CocoaPods and individual ones (`Surge-iOS`, `Surge-macOS`, `Surge-tvOS`, `Surge-watchOS`) for each platform when using Carthage. 🤔

Are you sure you're actually linking the framework with your watch target?

[2020-07-19 17:49] rth238 commented on #170
Thanks for your note! Based on your comments, I believe that I am simply not linking correctly with the framework, although I had used SPM correctly with the iOS app. I have not used CocoPods or Carthage, but will give one or both a go. Thanks, again!

[2020-11-03 00:33] wimzee-rcheng opened #171 "randomNormal not documented"
If I'm not mistaken, randomNormal is not documented (along with some of the enhancements in the latest release) on the main page. Should this be added to the list of functions?

[2020-11-09 15:04] regexident commented on #171
They should be, yes. Good catch!

Would you like to open a pull request for it?

[2021-01-05 23:34] egon23 opened #176 "Not working on Watch app"
I have added the library with SPM and set the target to WatchKit Extension. But still get the error: "Cannot find type 'NSString' in scope" from Matrix.swift
On iOS app works everything fine.

[2021-01-14 15:48] BrettThePark commented on #176
This should be fixed once #177 is merged in

[2021-01-14 15:49] BrettThePark commented on #170
This should be fixed once #177 is merged in

[2021-01-14 18:40] mattt commented on #176
#177 is now merged and available as part of the 2.3.2 release. Thanks again for your help, @BrettThePark!

@egon23 Can you please confirm that this is fixed for you in the latest release?

[2021-01-14 18:41] mattt commented on #170
#177 is now merged and available as part of the 2.3.2 release. Thanks again for your help, @BrettThePark!

@rth238 Can you please confirm that this is fixed for you in the latest release?

[2021-03-02 21:24] egon23 commented on #176
yes it works perfectly now.👍
sorry for the late reply

[2021-03-02 21:24] #176 closed

[2021-08-02 09:19] TaoKai opened #179 "some comfuse"

[2021-08-02 09:20] TaoKai commented on #179
do I have some ways to realize a func like Numpy's where using Surge?

[2021-08-14 18:14] regexident commented on #179
Hi @TaoKai,

Surge is a wrapper around Apple's Accelerate, which in turn [wraps a bunch of low-level APIs](https://developer.apple.com/documentation/accelerate), most notably:

- **vForce**: Functions for performing arithmetic and transcendental functions on vectors.
- **BLAS & LAPACK**: Libraries for performing linear algebra on sparse and dense matrices.

As such whether Surge is a good fit for

[2021-08-14 18:14] #179 closed

[2022-02-20 21:47] SharanSMenon opened #180 "Project Dead?"
Is this project Dead? There hasn't been activity for a long time.

[2022-02-20 21:48] SharanSMenon commented on #180
Its been over a year since the last commit

[2022-03-04 16:19] jkalias commented on #180
That’s an interesting question, I was thinking about the same thing. Any feedback from the maintainers?

[2022-03-06 10:32] regexident commented on #180
@SharanSMenon @jkalias sorry for taking so long to respond!

I joined the project in end of 2019 as the main driving force behind a major cleanup and refactoring of Surge, taking over most of the active maintenance work since then.

(Disclaimer: I can obviously only speak for myself.)

For the most part Surge is feature-complete and mature and thus doesn't nee much if any active development.

Whil

[2022-03-10 23:51] SharanSMenon commented on #180
Thank you for letting us know!

[2022-03-10 23:51] #180 closed

[2022-03-15 00:25] jonbirge commented on #180
We appreciate the effort, @regexident! One suggestion, if you're interested, would be to aggressively descope Surge in a way that would make it much easier to maintain, while still being very useful. For example, it's probably rough to maintain code for both Float and Double versions of everything. However, I don't think anybody would mind if the Framework only supported Double versions of everyth

[2022-06-07 08:18] AaronGe88inTHU opened #181 "test_sqrt_in_place_array_float() fails on M1 Pro"
failed - XCTAssertEqualWithAccuracy failed: Failure at index [16]: (0.13038404) is not equal to (0.13038406) +/- (1e-08)